{% extends "mountsHunt/_base.html" %}

{% block content %}
<div id="app">
    <template>
        <div class="page-container">
          <md-app md-waterfall md-mode="fixed">
            <md-app-toolbar class="md-large md-dense md-primary">
              <div class="md-toolbar-row">
                <div class="md-toolbar-section-start">
                  <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
                    <md-icon>menu</md-icon>
                  </md-button>
      
                  <span class="md-title">[[ title ]]</span>
                </div>
      
                <div class="md-toolbar-section-end">
                  <md-button class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                  </md-button>
                </div>
              </div>
      
              <div class="md-toolbar-row">
                <md-tabs class="md-primary" :md-active-tab="currentTab()">
                  <md-tab id="tab-filters" md-label="Filters" @click="changeTab(0)"></md-tab>
                  <md-tab id="tab-mount" md-label="Mount" @click="changeTab(1)"></md-tab>
                </md-tabs>
              </div>
            </md-app-toolbar>
      
            <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini">
                <md-tabs class="md-transparent" :md-active-tab="currentTab2()">
                    <md-tab id="tab-mounts" md-label="Mounts" @click="changeTab2(0)"></md-tab>
                    <md-tab id="tab-favorites" md-label="Favorites" @click="changeTab2(1)"></md-tab>
                </md-tabs>
                <!-- <md-toolbar class="md-transparent" md-elevation="0">Mounts</md-toolbar> -->
                
                <div class="d-drawer-list">
                    <md-list v-if="activeTab2 == 0" class="md-scrollbar drawer-mini">
                        <!-- {% for m in mount_list %}
                        <md-list-item>
                            <md-avatar @click="getDataMount('{{ m.id }}')">
                                <img src="media/mounts/{{ m.url_img_min }}" alt="Avatar">
                            </md-avatar>
                            <span class="md-list-item-text" @click="getDataMount('{{ m.id }}')">{{ m.name }}</span>
                            <md-button class="md-icon-button md-list-action" @click="saveFavorite()">
                                <md-icon class="">star</md-icon>
                            </md-button>
                        </md-list-item>
                        {% endfor %} -->
                        <md-list-item v-for="m in showMounts" @click="">
                            <md-avatar>
                                <img class="img_click" :src="'media/mounts/' + m.URL_img_min" alt="Avatar" v-on:click="getDataMount(m.ID)">
                            </md-avatar>
                            <span class="md-list-item-text" v-on:click="getDataMount(m.ID)">[[ m.Name ]]</span>
                            <md-button class="md-icon-button md-list-action" v-on:click="saveFavorite(m)">
                                <md-icon class="">star</md-icon>
                            </md-button>
                        </md-list-item>
                        <md-list-item @click="">
                            <md-avatar>
                                <md-icon class="">add</md-icon>
                            </md-avatar>
                            <span class="md-list-item-text" v-on:click="loadMoreMounts()">More</span>
                        </md-list-item>
                    </md-list>
                    <md-list v-if="activeTab2 == 1" class="md-scrollbar drawer-mini">
                        <md-list-item v-for="m in favorites" @click="">
                            <md-avatar>
                                <img class="img_click" :src="'media/mounts/' + m.URL_img_min" alt="Avatar" v-on:click="getDataMount(m.ID)">
                            </md-avatar>
                            <span class="md-list-item-text" v-on:click="getDataMount(m.ID)">[[ m.Name ]]</span>
                            <md-button class="md-icon-button md-list-action" v-on:click="removeFavorite(m)">
                                <md-icon class="">star</md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </div>
            </md-app-drawer>
      
            <md-app-content>
                <div v-if="activeTab == 0" class="box-p-25">
                    <md-card class="">
                        <md-card-content>
                            <md-autocomplete
                                v-model="filter.name"
                                :md-options="nameMounts"
                                md-layout="box"
                                md-dense>
                                <label>Name</label>
                            </md-autocomplete>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <md-field>
                                        <label for="expansions">Expansions</label>
                                        <md-select v-model="filter.expansions" name="expansions" id="expansions" multiple>
                                            <md-option v-for="e in expansions" :value="e.ID">[[ e.Name ]]</md-option>
                                        </md-select>
                                    </md-field>
                                </div>
                            </div>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <md-field>
                                        <label for="type">Type</label>
                                        <md-select v-model="filter.type" name="type" id="type" multiple>
                                            <md-option value="all">All</md-option>
                                            <md-option v-for="t in types" :value="t.ID">[[ t.Name ]]</md-option>
                                        </md-select>
                                    </md-field>
                                </div>
                            </div>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <md-field>
                                        <label for="faction">Faction</label>
                                        <md-select v-model="filter.faction" name="faction" id="faction">
                                            <md-option v-for="f in factions" :value="f.ID">[[ f.Name ]]</md-option>
                                        </md-select>
                                    </md-field>
                                </div>
                            </div>
                            <div class="md-layout md-gutter">
                                <div class="md-layout-item">
                                    <md-field>
                                        <label for="zone">Zone</label>
                                        <md-select v-model="filter.zone" name="zone" id="zone" multiple>
                                            <md-option value="all">All</md-option>
                                        </md-select>
                                    </md-field>
                                </div>
                            </div>
                        </md-card-content>
                        <md-card-actions>
                            <md-button class="md-raised md-accent" @click=clearFilter()>Clear</md-button>
                            <md-button class="md-raised md-primary" @click=searchFilter()>Search</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div v-if="activeTab == 1">
                    <div class="box d-flex flex-row">
                        <div class="box-1">
                            <img v-if="selected.URL_img_min != null" :src="'media/mounts/' + [[ selected.URL_img ]]" height="500" width="500" />
                            <img v-else="selected.URL_img_min != null" src="media/img/favicon.png" height="500" width="500" />
                        </div>
                        <div class="box-2">
                            <div class="box-3">
                                <span class="md-display-3">Attempts: X</span> <br/> <br/>
                                <div class="md-layout md-gutter">
                                    <div class="md-layout-item">
                                        <md-field>
                                            <label>Name</label>
                                            <md-input v-model="selected.Name" disabled></md-input>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item">
                                        <md-field>
                                            <label>Expansion</label>
                                            <md-input v-model="selected.Expansion" disabled></md-input>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item">
                                        <md-field>
                                            <label>Zone</label>
                                            <md-input v-model="selected.Zone" disabled></md-input>
                                        </md-field>
                                    </div>
                                </div>
                                <div class="md-layout md-gutter">
                                    <div class="md-layout-item">
                                        <md-field>
                                            <label>Type</label>
                                            <md-input v-model="selected.Type" disabled></md-input>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item">
                                        <md-field>
                                            <label>Faction</label>
                                            <md-input v-model="selected.Faction" disabled></md-input>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item">
                                        <md-field>
                                            <label>Note</label>
                                            <md-input v-model="selected.Notes_1" disabled></md-input>
                                        </md-field>
                                    </div>
                                </div>
                                <div class="md-layout md-gutter">
                                    <div class="md-layout-item">
                                        <md-field>
                                            <label>Notes</label>
                                            <md-textarea v-model="selected.Notes_2" disabled></md-textarea>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-app-content>
          </md-app>
        </div>
        <md-snackbar :md-active.sync="snackBar.show">[[snackBar.msg]]</md-snackbar>
      </template>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="media/css/mountsHunt.css" />
{% endblock %}

{% block scripts %}
<script>
    Vue.use(VueMaterial.default)

    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: () => ({
            menuVisible: true,
            activeTab: 0,
            activeTab2: 0,
            title: 'All',
            mounts: [],
            expansions: [],
            types: [],
            factions: [],
            zones: [],
            showMounts: [],
            filterMounts: [],
            nameMounts: [],
            favorites: [],
            filter: {
                name: '',
                expansions: [],
                type: [],
                zone: [],
                faction: '1',
            },
            selected: {},
            tamanio: 99,
            snackBar: {
                show: false,
                msg: null
            },
        }),
        methods: {
            toggleMenu() {
                this.menuVisible = !this.menuVisible;
            },
            changeTab(cod) {
                this.activeTab = cod;
            },
            changeTab2(cod) {
                this.activeTab2 = cod;
            },
            currentTab() {
                if (this.activeTab == 0) {
                    return "tab-filters";
                } else if (this.activeTab == 1) {
                    return "tab-mount";
                }
            },
            currentTab2() {
                if (this.activeTab2 == 0) {
                    return "tab-mounts";
                } else if (this.activeTab2 == 1) {
                    return "tab-favorites";
                }
            },
            saveFavorite(mount) {
                if ($.inArray(mount, this.favorites) == -1) {
                    this.favorites.push(mount);
                    this.changeTab2(1)
                }
            },
            removeFavorite(mount) {
                var index = $.inArray(mount, this.favorites);
                if (index > -1) {
                    this.favorites.pop(mount);
                }
            },
            clearFilter() {
                this.filter = {
                    name: '',
                    expansions: [],
                    type: [],
                    zone: [],
                    faction: '1',
                }
            },
            setMounts() {
                const vm = this;
                vm.showMounts = [];
                vm.nameMounts = [];
                $.each(vm.mounts, function( index, value ) {
                    if (index < vm.tamanio) {
                        vm.showMounts.push(value);
                    }
                    vm.nameMounts.push(value.Name);
                });
                vm.showSnack("Mounts loaded")
            },
            loadMoreMounts() {
                const vm = this;
                var max = vm.showMounts.length + vm.tamanio;
                if (max < vm.mounts.length) {
                    for (var i = vm.showMounts.length-1; i < vm.mounts.length && i < max; i++) {
                        vm.showMounts.push(vm.mounts[i]);
                    }
                    vm.showSnack("Added 100 (total: " + vm.showMounts.length + ")")
                    console.log("Added 100: " + vm.showMounts.length)
                } else {
                    vm.showSnack("All out: " + vm.showMounts.length)
                    console.log("All out: " + vm.showMounts.length)
                }
            },
            firstLoad() {
                const vm = this;
                axios({
                    method: 'get',
                    url: 'firstLoad',
                }).then(function (response) {
                    vm.mounts = response.mounts;
                    vm.expansions = response.expansions;
                    vm.types = response.types
                    vm.factions = response.factions
                    vm.zones = response.zones
                    vm.setMounts();
                }).catch(function (error) {
                    // console.log(error);
                });
            },
            getDataMount(id) {
                const vm = this;
                vm.activeTab = 1;
                axios({
                    method: 'get',
                    url: 'mount/' + id,
                }).then(function (response) {
                    vm.selected = response;
                    vm.title = vm.selected.Name;
                    // vm.showSnack("Selected: " + vm.selected.Name)
                }).catch(function (error) {
                    // console.log(error);
                });
            },
            searchFilter() {
                const vm = this;
                axios({
                    method: 'post',
                    url: 'filterMounts',
                    data: { 'filter': vm.filter},
                    headers: { 'Content-Type': 'application/json' }
                }).then(function (response) {
                    vm.mounts = response;
                    vm.setMounts();
                }).catch(function (error) {
                    // console.log(error);
                });
            },
            showSnack(msg) {
                this.snackBar.msg = msg;
                this.snackBar.show = true;
            }
        },
        mounted() {
            this.firstLoad();
        }
    })
</script>
{% endblock %}